<a href="https://colab.research.google.com/github/naveenparida/18cse200/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
path="https://raw.githubusercontent.com/naveenparida/18cse200/main/indian_food.csv"

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv(path)

In [5]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.shape

(255, 9)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       255 non-null    int64
 4   cook_time       255 non-null    int64
 5   flavor_profile  255 non-null    object
 6   course          255 non-null    object
 7   state           255 non-null    object
 8   region          254 non-null    object
dtypes: int64(2), object(7)
memory usage: 18.1+ KB

In [9]:
data.index

RangeIndex(start=0, stop=255, step=1)

In [10]:
data.columns

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region'],
      dtype='object')

In [11]:
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [12]:
data.tail()

          name  ...      region
250  Til Pitha  ...  North East
251    Bebinca  ...        West
252     Shufta  ...       North
253  Mawa Bati  ...     Central
254     Pinaca  ...        West

[5 rows x 9 columns]

In [13]:
data.head(3)

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North

[3 rows x 9 columns]

In [14]:
data[['name',"prep_time"]].head(10)

             name  prep_time
0      Balu shahi         45
1          Boondi         80
2  Gajar ka halwa         15
3          Ghevar         15
4     Gulab jamun         15
5          Imarti         10
6          Jalebi         10
7      Kaju katli         10
8        Kalakand         20
9           Kheer         10

In [15]:
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [16]:
data.dropna(inplace=True)
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            0
dtype: int64

In [17]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[254 rows x 9 columns]

In [18]:
data.head(20)

              name  ... region
0       Balu shahi  ...   East
1           Boondi  ...   West
2   Gajar ka halwa  ...  North
3           Ghevar  ...   West
4      Gulab jamun  ...   East
5           Imarti  ...   East
6           Jalebi  ...  North
7       Kaju katli  ...     -1
8         Kalakand  ...   East
9            Kheer  ...     -1
10           Laddu  ...     -1
11           Lassi  ...  North
12       Nankhatai  ...     -1
13           Petha  ...  North
14          Phirni  ...   East
15           Rabri  ...  North
16          Sheera  ...   West
17         Singori  ...  North
18     Sohan halwa  ...  North
19     Sohan papdi  ...   West

[20 rows x 9 columns]

In [19]:
data['MetColor'].mean()

KeyError: ignored

In [20]:
data['MetColor'].head()

KeyError: ignored

In [21]:
import numpy as np

In [22]:
data['MetColor'].replace(np.NaN,data['MetColor'].mean()).head()

KeyError: ignored